---
layout: default
title: {{ site.name }}
---

{% for post in site.posts %}

  <h3>
    <a id="welcome-to-github-pages" class="anchor" href="{{ site.baseurl }}{{ post.url }}" aria-hidden="true">
      <span aria-hidden="true" class="octicon octicon-link"></span>
    </a>
    {{ post.title }}
  </h3>

  {{ post.content | split:'<!-- readmore -->' | first }}...
  {% if post.content contains '<!-- readmore -->' %}
    <p style="text-align:right;">
      <a href="{{ site.baseurl }}{{ post.url }}">
        Readmore...
      </a>
    </p>
  {% endif %}

{% endfor %}

